html {
    font-family: "helvetica";
    font-size: 16px;
    color: seashell;
    background-color: black;
    text-align: center;
    opacity: 0.8;
    width: 100%;
    height: auto;
}

a {
    color: red;
}

a:hover {
    color: black;
}

/* Header */

#header {
    display: flex;
    top: 0;
    width: 100%;
    height: 10.2rem;
    position: fixed;
    z-index: 10;
    border-bottom: 1px solid seashell;
}

.headercontent {
    margin: 0 auto;
    width: 100%;
    height: auto;
}

.navi {
    width: 100%;
    height: auto;
}

.buttonsite {
    display: inline;
    padding: 0.5rem 0.6rem;
    border: 1px solid white;
    background-color: navy;
    font-size: 1.5rem;
}

.buttonsite:hover {
    background-color: whitesmoke;
    color: black;
    border: 1px solid black;
}

#title {
    font-size: 4rem;
    width: 100%;
    margin: 1.5rem 0 1.5rem 0;
    background-color: hsla(0, 0%, 0%, 0.5);
}

.headerbanner {
    background-image: url("/resources/bannerimg.jpg");
    background-size: cover;
    width: 100%;
    height: auto;
}

.spacer {
    width: 100%;
    height: 10.25rem;
}


/* Main Content */

.sisältö {
    width: 100%;
    height: auto;
    background-image: url("/resources/Sisältöbackground.jpg");
    padding-bottom: 2rem;
}

.kohta {
    height: 7.4rem;
    background-color: hsla(0, 0%, 0%, 0.9);
}

.kohtatitle {
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.buttonkohta {
    display: inline;
    padding: 0.5rem 0.6rem;
    background-color: gray;
    font-size: 1.3rem;
    color: red;
    font-weight: bold;
    border: 2px solid red;
    margin: 0 0.5rem;
}

.buttonkohta:hover {
    background-color: white;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.container p {
    font-size: 1.25rem;
    margin: 1rem 1rem;
}

.sectiontitle {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.section1 {
    height: auto;
    width: 65%;
    background-color: hsla(0, 0%, 0%, 0.9);
    margin-top: 2rem;
}

.section2 {
    height: auto;
    width: 65%;
    background-color: hsla(0, 0%, 0%, 0.9);
    margin-top: 2rem;
}

.gallery {
    height: auto;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.9);
    margin-top: 2rem;
    flex-shrink: 1;
}

.kuvat {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    height: auto;
}

.isotkuvat {
    flex-wrap: wrap;
    justify-content: space-around;
    display: flex;
    flex-shrink: 2;
    max-width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.section1 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.section2 img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

img {
    border: 1px solid red;
    margin: 2rem 2rem;
    max-width: 100%;
    height: auto;
}


/* Footer */

.footer {
    height: 4rem;
    background-color: grey;
}

.tekijä {
    padding-top: 1.4rem;
}


/* Media Queries */

@media only screen and (max-width: 700px) {
    .section1, .section2 {
        width: 90%;
        height: auto;
    }
    .sectiontitle {
        font-size: 2.1rem;
    }
    .container p {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 500px) {
    .container p {
        font-size: 1rem;
        margin-right: 2rem;
        margin-left: 2rem;
    }
    #title {
        display: none;
    }
    .navi {
        margin-top: 1.4rem;
        justify-content: space-between;
    }
    .spacer {
        height: 6rem;
    }
    #header {
        width: 100%;
        height: 6rem;
    }
    .buttonsite {
        font-size: 1.25rem;
        padding: 0.3rem 0.4rem;
        margin: 1rem;
    }

    .buttonkohta {
        font-size: 1.15rem;
        padding: 0.2rem 0.3rem;
        margin: 1rem
    }
    .kohtatitle {
        font-size: 1.7rem;
    }
    .kohta {
        height: 7rem;
        padding-bottom: 0.5rem;
    }
    .section1 {
        width: 100%;
        height: auto;
    }
    .section2 {
        width: 100%;
        height: auto;
    }
    .sectiontitle {
        font-size: 2rem;
    }
    .section1 img {
        margin: 1rem auto;
    }
    .section2 img {
        margin: 1rem auto;
    }
}

@media only screen and (max-width: 300px) {
    .container p {
        font-size: 0.7rem;
    }
    .sectiontitle {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 429px) {
    .buttonsite {
        margin: 0.5rem;
        padding: 0.2rem 0.3rem;
        font-size: 1rem;
    }
    #header {
        height: 4rem;
    }
    .spacer {
        height: 4rem;
    }
    .kohtatitle {
        font-size: 1.5rem;
        padding: 0.75rem;
    }
    .buttonkohta {
        justify-content: space-evenly;
        font-size: 1rem;
    }
    .kohta {
        height: 5rem;
    }
}